* {
    padding: 0;
    margin: 0;
}
.layui-icon,
.iconfont {
    margin-right: 10px;
}
iframe {
    width: 100%;
    height: 100%;
}
.layui-body {
    overflow: hidden;

}
.layui-footer {
    text-align: center;
}
.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    text-align: center;
    line-height: 40px;
}
.layui-nav-img {
    width: 40px;
    height: 40px;
}
.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}